<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KGB Dev</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Filled.ViewList" IconColor="Color.Inherit">Interna lista</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="PublicIndex" Match="NavLinkMatch.All" Icon="@Icons.Filled.ListAlt" IconColor="Color.Inherit">Javna lista</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink Href="Create" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircleOutline" IconColor="Color.Inherit">Kreiraj</MudNavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                @if (Role == 2)
                {
                    <div class="nav-item px-3">
                        <MudNavLink Href="register" Icon="@Icons.Filled.PersonAdd" IconColor="Color.Inherit">Register</MudNavLink>
                    </div>
                }
                @* @if (Role == 1)
                {
                <div class="nav-item px-3">
                <MudNavLink Href="Create" Match="NavLinkMatch.All" Icon="@Icons.Filled.AddCircleOutline" IconColor="Color.Inherit">Kreiraj</MudNavLink>
                </div>
                }*@
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}